<!-- <div class="styled">
  <h1> Hello World!</h1>
  <p> This is the para tag </p>

  <app-chat></app-chat>
  <app-users></app-users>

</div> -->
<!-- <h2>String Interpolation Demo:</h2>
<app-string-interpolation></app-string-interpolation> -->

<!-- <h2>Property Binding Demo:</h2>
<app-property-binding></app-property-binding> -->

<!-- <h2>Event Binding Demo:</h2>
<app-event-binding></app-event-binding> -->

<!-- <h2>@Input Demo</h2>
<app-hello [name]="title"></app-hello>
<!-- String Interpolation should be used only for primitive types not for complext types
Otherwise it will converts value to string -->
<!-- <app-hello name="{{title}}"></app-hello>
<hr> -->

<!-- <h2>@Output Demo</h2>
<p>current value of the Counter is: <span [class]="classToSet">{{ counter }}</span></p>
<app-counter-actions [(someNumber)]="counter"></app-counter-actions>

<hr>

<input type="text" [(ngModel)]="title" >
<p>{{ title }}</p> -->


<!-- <app-attribute-binding></app-attribute-binding> -->
<!-- <app-class-bindings></app-class-bindings> -->

<!-- <app-style-bindings></app-style-bindings> -->

<app-hello [name]="title">
  This is the content between the child component open tag and closing tag
</app-hello>

